<header class="answer-header active group">
  <a class="right" href="#users/<%= answer.author().id %>">
    <%= answer.author().escape("name") %>
  </a>
  <h2 class="left"><%= answer.header() %></h2>  
</header>
<atricle class="answer-body group">
  <a class="right" href="#users/<%= answer.author().id %>">
    <%= answer.author().escape("name") %>
  </a>
  <h2 class="left"><%= answer.escape("body") %></h2>
</article>
