<header class="answer-header active group">
  <a class="right" href="#users/<%= answer.author().id %>">
    <%= answer.author().escape("name") %>
  </a>
  <h2 class="left"><%= answer.header() %></h2>
</header>
<article class="answer-body group">
  <section class="group">
  <a class="right" href="#users/<%= answer.author().id %>">
    <%= answer.author().escape("name") %>
  </a>
  <h2 class="left"><%= answer.escape("body") %></h2>
  </section>
  <p class="answer-comments"></p>
</article>
