<div class="collapse-card">

  <div class="collapse-card__heading">
    <div class="collapse-card__title group">
    <span class="left">
      <i><img class="thumb" src="<%= answer.author().get("thumbUrl")%>"></i>
      <a href="#users/<%= answer.question().author().id %>">
        <%= answer.author().escape("name") %>
      </a>
    </span>

        <span class="right"> <%= answer.escape("body") %>

        </span>


    </div>
  </div>

  <div class="collapse-card__body clear">
    <p><%= answer.question().escape("question") %></p>
    <span class="left">
      <a href="#/questions/<%= answer.question().id %>">
        View Question
      </a>
    </span>
  </div>

</div>
