<article class="profile-page group">

  <sidebar class="user-sidebar group">
    <section class="sidebar-list following-topics">
      <h2>Following Topics:</h2>
      <ul class="following-topics-list"></ul>
    </section>

    <section class="sidebar-list knows-about group">
      <h2>Knows About:</h2>
      <ul class="knows-about-list"></ul>
    </section>

    <section class="sidebar-list users-following group">
      <h2>Users Following:</h2>
      <ul class="users-following-list"></ul>
    </section>

    <section class="sidebar-list following-users group">
      <h2>Following Users:</h2>
      <ul class="following-users-list"></ul>
    </section>
  </sidebar>

  <main class="non-sidebar">
  <h1><%= user.escape("name") %></h1>
  <section class="group">
    <section class="profile-picture"><img src="<%= user.get("profileUrl")%>"></section>

    <section class="profile-information">

      <p><h2>Biography:</h2> <%= user.escape("biography") %></p>
      <p><h2>Location:</h2> <%= user.escape("location") %></p>
      <% if (user.get("current_user")) { %>
        <a href="#/users/<%= user.id %>/edit">Edit</a>
      <% } else { %>
        <section class="follow-button"></section>
      <% } %>
      <a href="javascript:history.back()">Back</a>
    </section>

  </section>

  <div class="wrapper">
    <main id="content-tabs">
      <ul class="tabs group">
        <li class="tab">Comments</li>
        <li class="tab">Questions</li>
        <li class="tab">Answers</li>
        <li class="tab">Answer-Requests</li>
      </ul>

      <ul class="tab-pane comments">
      </ul>

      <ul class="tab-pane questions">
      </ul>

      <ul class="tab-pane answers">
      </ul>

      <ul class="tab-pane answer-requests">
      </ul>
    </main>
  </div>



</main>

<script>
  $(function() {
    $('#content-tabs').Tabs();
  })
</script>
