<%= @user.errors.full_messages %>
<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">username</label>
  <input type="text" name="user[username]" value="<%= @user.username %>">

  <label for="email">email</label>
  <input type="text" name="user[email]" value="<%= @user.email %>">

  <label for="password">password</label>
  <input type="password" name="user[password]" value="<%= @user.password %>">

  <label for="password_confirmation">password</label>
  <input type="password" name="user[password_confirmation]" value="<%= @user.password_confirmation %>">

  <button>Submit</button>
</form>
