<div class="collapse-card">

  <div class="collapse-card__heading">
    <div class="collapse-card__title group">


        <span class="left">
          <p><img class="thumb" src="<%= question.author().get("thumbUrl")%>"></p>
          <a href="#users/<%= question.author().id %>">
            <%= question.author().escape("name") %>
          </a>
        </span>

        <span class="right">
        <p>
          <a href="#/questions/<%= question.id %>">
            <%= question.escape("question") %>
          </a>
        </p>
        <p><%= question.answers().length %> Answers ~ <%= question.askers().length %> Users Requesting Answers </p>

        </span>

    </div>
  </div>

</div>
