<h1><%= question.escape("question") %></h1>
<a href="#users/<%= question.author().id %>">
  <%= question.author().escape("name") %>
</a>
<p><%= question.escape("description") %></p>

<% if (question.author().get("current_user")) { %>
  :p
  <a href="#questions/<%= question.id %>/edit">edit</a>
<% } else { %>
<article class="request" ></article>
<% } %>
<article class="answer-form" ></article>

<a href="javascript:history.back()">back</a>

<ul class="requestors group">
<%= question.askers().length %> Users Requested Answers:
<br>
  <% question.askers().each( function (asker) { %>
    <a href="#users/<%= asker.id %>">
      <li class="left"><%= asker.get("name") %></li>
    </a>
  <% }) %>
</ul>

<ul class="answers">
</ul>
