<article class="question-page group">

  <sidebar class="user-sidebar group">
    <section class="sidebar-list following-topics">
      <ul class="actions-list">
        <li><section class="follow-button"></section></li>
        <% if (question.author().get("current_user")) { %>
          <li><a href="#questions/<%= question.id %>/edit">Edit</a></li>
        <% } %>
        <li><article class="request" ></article></li>
        <li><a href="javascript:history.back()">Back</a></li>
      </ul>
    </section>

    <section class="sidebar-list topics">
      <h2>Topics:</h2>
      <ul class="topics-list">
        <li><input id="set-topics" value="add topics"></li>
      </ul>
    </section>

    <section class="sidebar-list users-following group">
      <h2>Users Who Want Answers:</h2>
      <ul class="want-answers">
      </ul>
    </section>
  </sidebar>

<main class="non-sidebar group">
  <section class="question-information">
    <h1><%= question.escape("question") %></h1>
    <p><%= question.escape("description") %></p>
    <p><img class="thumb" src="<%= question.author().get("thumbUrl") %>">
      <a href="#users/<%= question.author().id %>">
        <%= question.author().escape("name") %>
      </a>
    <p>
  </section>
  <p class="comments"></p>

    <h3><%= question.escape("answer_count") %> Answers</h3>

    <ul class="answers">
      <li class="answer-form" ></li>
    </ul>
</main>
